@font-face
{
    font-family: MesquiteStd;
    src: url('MesquiteStd.otf');
    src: local(MesquiteStd), url('MesquiteStd.otf') format('opentype');
}

html {		
	margin:0px;
	padding:0px;
	height: 100%;
	overflow: hidden;
}

#youtube {
	width: 150px;
	height: 47px;
}

#facebook {
	width: 150px;
	height: 52px;
}

#bandcamp {
	width: 150px;
	height: 47px;
}

#soundcloud {
	width: 150px;
	height: 52px;
}

body {
	background-color:#000000;
	margin:0px;
	padding:0px;
	height: 100%;	
}

.header{
	height:300px;
	width:800px;
	background: url('banner.jpg');
	font-family: MesquiteStd;
	color:#FFF;
	font-size: 100px;
}

.container {
	background-color:#000000;
	height: 100%;
}	

.content {	
	background: url('bgcontent2.png') #0e0403;
	margin: 0 auto;
	width: 800px;
	min-height:120%;
 	height: auto;
}

.left {		
	width:155px;
	height:800px;
	margin: 0 0 0 0px;
	float:left;
	font-family:verdana;
	color:#FFF;
	border-width:0px;
	border-right-width:2px; 
	border-style: solid;
	border-color:#140907;
}

.right {
	width:450px;
	float:right;
	font-family:verdana;
	color:#FFF;
	text-align:left;
	height: auto;
	margin-right: 120px;
}


h3 {
	display: block;
	margin-bottom: -18px;
}

#booking {
	margin-bottom: 0px;
}

a {
 	color: #FFFFFF;
	text-decoration: none;
	font-size: 1em;
}

#license {
	margin-top: -14px;
}
